{% extends "base/base.html" %}

{% block titulo %}
    INDEX 😎😎😎
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        <h1> Bienvenido {{ user.username }}</h1>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Log out</button>
        </form>
    {% else %}
        <h1> Bienvenido, No estas autenticado</h1>
        <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
    {% endif %}
{% endblock %}