<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi empleado</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Información de mi empleado: </h1>

    <img src="{% static 'img/foto.avif' %}" alt="" width="300px">

    <h2>Datos: 👍</h2>

    <p><b>Nombre: </b> {{nombre}} </p>
    <p><b>Apellido: </b> {{apellido}} </p>
    <p><b>Edad: </b> {{edad}} </p>

    <h3>Mi lista de hobbies: </h3>
    <ul>
        {% for hobby in hobbies %}
        <li> {{ hobby }} </li>
        {% endfor %}
    </ul>

    
    {% if amigos %}
    <h3>Lista de amigos: </h3>
    <ol>
        {% for amigo in amigos %}
        <li> {{ amigo }} </li>
        {% endfor %}
    </ol>
    {% else %}
    <p>No tienes amigos 😢</p>
    {% endif %}



</body>

</html>