<!DOCTYPE html>
<html lang="en">
{% load static %} <!-- Cargar archivos estaticos -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Información del empleado</title>
</head>

<body>
    <h1>Información del empleado</h1>

    <img src="{% static 'img/foto.avif' %}" alt="">


    <h2>Datos: 👍</h2>

    <p><b>Nombre: </b> {{nombre}} </p>
    <p><b>Apellido: </b> {{apellido}} </p>
    <p><b>Edad: </b> {{edad}} </p>

    <h2>Mi hobbies son: </h2>
    <ul>
        {% for hobby in hobbies %}
        <li> {{hobby}} </li>
        {% endfor %}
    </ul>

    {% if amigos %}
        <h2>Mi amigos son:</h2>
        <ol>
            {% for amigo in amigos %}
            <li>{{amigo}}</li>
            {% endfor %}
        </ol>
    {% else %}
        <h2>No tengo amigos 😢</h2>
    {% endif %}


</body>

</html>